<a href="https://colab.research.google.com/github/donaldtse118/phone_batch_add_country_code/blob/main/phone_batch_add_country_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For who moved to another country

### In short..
A simple tool that help mass edit to add country code like +852 (Hong Kong), +44 (English) in Google contact. 
i.e. 99889988 -> +852 99889988

### Why I need this tool
Your contact might usually save your friends mobile nunmber **without** country code. It perfectly works fine when you in local. 
However, when you travel to another country or using a SIM card from other country. Your default country code do not apply, as the result you application like whatsapp able to regonize the contact stored

e.g. While you in HK, added a friend mobile 9988 9988 and stored a Google contact. As you are in HK, it works work fine. When you dial, no matter +852 9988 9988 or 9988 9988 (without country code), both case working fine. However, if you using a foreign SIM card like in UK. Whatsapp contact would treat the contact as +852 9988 9988 (with country code), which is not exist in your Google contact. Whatsapp cannot regonize this contact

To fix it, you need to add country code to each contact, or your might try this tool

- *Caution you might lost contact profile photo you added yourself*
- *Caution it might not work for contact more than 4 phone number entered*

## How this tool work
Just a simple python program, to country 

## Steps
1. Export contact from [contacts.google.com](https://contacts.google.com/) (export as Google CSV format), 
 - **!! Please backup !!**
 - **!! Please backup !!**
 - **!! Please backup !!**
2. Edit prefered country code to add. [I dunno my country code](https://countrycode.org/)
3. Run this notebook, upload the downloaded `contact.csv`
4. download the processed csv file `processed_contact.csv`
5. Visit Google contact and select all contact to delete (please bear the risk)
- *Caution you might lost contact profile photo you added yourself*
- *Caution it might not work for contact more than 4 phone number entered*
6. Import processed csv

# Edit country add you would like to add

In [5]:
country_code_to_add = '+852'

# Read exported csv file from [contacts.google.com](https://contacts.google.com/)

In [6]:
# upload file from local

from google.colab import files
uploaded = files.upload()

Saving contacts.csv to contacts.csv

In [7]:
# read uploaded file
uploaded

{'contacts.csv': b'Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,Initials,Nickname,Short Name,Maiden Name,Birthday,Gender,Location,Billing Information,Directory Server,Mileage,Occupation,Hobby,Sensitivity,Priority,Subject,Notes,Language,Photo,Group Membership,Phone 1 - Type,Phone 1 - Value\r\nHarry Porter,Harry ,,Porter,,,,,,,,,,,,,,,,,,,,,,,,,,Mobile,9988 9988\r\n'}

In [8]:
byte_content = uploaded['contacts.csv']
byte_content

b'Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,Initials,Nickname,Short Name,Maiden Name,Birthday,Gender,Location,Billing Information,Directory Server,Mileage,Occupation,Hobby,Sensitivity,Priority,Subject,Notes,Language,Photo,Group Membership,Phone 1 - Type,Phone 1 - Value\r\nHarry Porter,Harry ,,Porter,,,,,,,,,,,,,,,,,,,,,,,,,,Mobile,9988 9988\r\n'

In [9]:
from io import StringIO
import csv
import pandas as pd

In [10]:
# handle byte type
content = byte_content.decode()
file = StringIO(content)
print('Type of variable "file" (i.e. type(file)) = {}'.format(type(file)))

# read as pandas dataframe
df_master = pd.read_csv(file)

print('Number of row read = {}'.format(df_master.shape[0]))
print(df_master.head())

Type of variable "file" (i.e. type(file)) = <class '_io.StringIO'>
Number of row read = 1
           Name Given Name  ...  Phone 1 - Type Phone 1 - Value
0  Harry Porter     Harry   ...          Mobile       9988 9988

[1 rows x 31 columns]

In [11]:
df_master.head()

           Name Given Name  ...  Phone 1 - Type Phone 1 - Value
0  Harry Porter     Harry   ...          Mobile       9988 9988

[1 rows x 31 columns]

In [12]:
# save original columns for later use
orig_columns= df_master.columns
orig_columns

Index(['Name', 'Given Name', 'Additional Name', 'Family Name', 'Yomi Name',
       'Given Name Yomi', 'Additional Name Yomi', 'Family Name Yomi',
       'Name Prefix', 'Name Suffix', 'Initials', 'Nickname', 'Short Name',
       'Maiden Name', 'Birthday', 'Gender', 'Location', 'Billing Information',
       'Directory Server', 'Mileage', 'Occupation', 'Hobby', 'Sensitivity',
       'Priority', 'Subject', 'Notes', 'Language', 'Photo', 'Group Membership',
       'Phone 1 - Type', 'Phone 1 - Value'],
      dtype='object')

## Find columns related to Phone value

In [13]:
# select the necessary columns
phone_col = [col for col in df_master.columns if (col.find('Phone') > -1 and col.find('Value') > -1)]
phone_col

['Phone 1 - Value']

In [14]:
# main function to 
def add_country_code(country_code_to_add, orig_value):

    # nothing to do for empty record
    if pd.isnull(orig_value):
      return orig_value 

    # if country code exist, untouch record
    if orig_value.find('+') > -1:
      return orig_value
    
    # remove unnecessary '-'
    orig_value = orig_value.replace('-','')

    # simple add country code before original value, with a space in middle
    new_value = country_code_to_add + ' ' + orig_value
    return new_value

In [15]:
# apply function for every related columns
for col in phone_col:
  df_master['{}_orig'.format(col)] = df_master[col] # add '_orig' suffix for each modified column
  df_master[col] = df_master[col].apply(lambda x : add_country_code(country_code_to_add, x))

# Manual sample checking

In [16]:
# check before and after
phone_col_new = [col for col in df_master.columns if (col.find('Phone') > -1 and col.find('Value') > -1)]
phone_col_new

['Phone 1 - Value', 'Phone 1 - Value_orig']

In [17]:
# select first 20 row to check
df_master[phone_col_new].head(20)

  Phone 1 - Value Phone 1 - Value_orig
0  +852 9988 9988            9988 9988

# Export

In [18]:
df_master[orig_columns].to_csv('processed_contact.csv')

from google.colab import files
files.download("processed_contact.csv")